<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>IST Dynamic Images</title>
	</head>
	<body
		class="mx-8 mt-8 mb-64 max-w-screen-md h-screen grid grid-rows-[auto_1fr_auto] gap-4"
	>
		<header>
			<h1 class="text-2xl font-bold">IST Dynamic Images</h1>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<p>An experiment by Ed Johnson-Williams at More Onion.</p>
		</footer>
	</body>
</html>
